[submodule "native/sokol"]
	path = native/sokol-lib
	url = https://github.com/floooh/sokol.git
[submodule "native/dosbox"]
	path = native/dosbox
	url = git@github.com:js-dos/dosbox.git
[submodule "native/dosbox-x"]
	path = native/dosbox-x
	url = git@github.com:js-dos/dosbox-x.git
[submodule "native/sokol-tools-bin"]
	path = native/sokol-tools-bin
	url = git@github.com:floooh/sokol-tools-bin.git
	branch = master
[submodule "native/gl4es"]
	path = native/gl4es
	url = git@github.com:ptitSeb/gl4es.git
	branch = master
